.text-center {
    text-align: center !important;
}

.text-left {
}

body {
    background-color: #f8f9fa;
}

input {
    border: 1px solid #ced4da;
    height: 30px;
    width: 250px;
    padding-left: 10px;
}

.inpSbm {
    width: 260px;
    height: 40px;
    border: 1px solid #007bff;
    margin-top: 4px;

    background-color: #007bff;
    border-radius: 4px;
    color: #ffffff;
}

.inpLg{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0px;
 }

.inpPs{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.up15 {
    margin-top: 15%;
}

.up0 {
    margin-top: 0%;
}

.down0 {
    margin-bottom: 0%;
}

.psi {

    font-size: 25px;
}