<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin</title>
    <style>
        body {
            background-color: #fff4f3;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <strong>[[${visitor.email}]]</strong>
        with roles:
        <ui th:each="role:${visitor.roleSet}">
            <ui th:text="${role.toString().toUpperCase()}"></ui>
        </ui>
    </a>

    <ul class="navbar-nav mr-auto">
    </ul>
    <a href="/logout" class=" navbar-text">
        Log out
    </a>

</nav>
<div class="container-fluid">

    <div class="row">
        <div class="col-2 bg-white p-0">
            <a href="#" class="mt-2 btn btn-block btn-primary">Admin</a>
            <a href="/user" class="btn mt-0 btn-block ">User</a>
        </div>
        <div class="col-10 bg-light mh-100" style="height: 800px">
            <div class="row container-fluid">
                <div class="col">
                    <h2>Admin panel </h2>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class=" m-2 bg-light">
                        <div class="container-fluid">

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home"
                                       aria-selected="true">Users table2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile"
                                       aria-selected="false">New user2</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="container-fluid border pl-0 pr-0 bg-white">


                                        <h3 class="alert bg-light border-bottom container-fluid pl-3 mb-0">
                                            All users
                                        </h3>
                                        <div class="mt-4 pl-4 pr-4">
                                            <table class="wt-2 table table-striped">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First name:</th>
                                                    <th scope="col">Last name:</th>
                                                    <th scope="col"> Age:</th>
                                                    <th scope="col"> Email:</th>
                                                    <th scope="col"> Role:</th>
                                                    <th scope="col"> Edit</th>
                                                    <th scope="col"> Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="testtable" class="">

                                                </tbody>

                                            </table>
                                            <div class="modal fade update-modal" id="deleteModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel2">Edit
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form name="delete" id="deleteForm" action="">
                                                            <div class="modal-body">


                                                                <div class="row">
                                                                    <div class="col-1"></div>
                                                                    <div class="col-6 container-fluid ">

                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                ID
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <fieldset disabled>
                                                                                    <input type="number"
                                                                                           name="id"
                                                                                           id="disabledTextInput2"
                                                                                           class="form-control user-id"
                                                                                           value=""/>
                                                                                </fieldset>
                                                                                <input type="hidden" name="id"
                                                                                       class="user-id"
                                                                                       value=""/>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                First name
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <fieldset disabled>
                                                                                    <input type="text"
                                                                                           class="form-control user-name"
                                                                                           name="name"
                                                                                           value=""/>
                                                                                </fieldset>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                Last name
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <fieldset disabled>
                                                                                    <input type="text"
                                                                                           class="form-control user-last-name"
                                                                                           name="lastName"
                                                                                           value=""/>
                                                                                </fieldset>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                Age
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <fieldset disabled>
                                                                                    <input type="number"
                                                                                           class="form-control user-age"
                                                                                           name="age"
                                                                                           value=""/>
                                                                                </fieldset>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                Email
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <fieldset disabled>
                                                                                    <input type="email"
                                                                                           class="form-control user-email"
                                                                                           name="email"
                                                                                           value=""/>
                                                                                </fieldset>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                Password
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <fieldset disabled>
                                                                                    <input type="password"
                                                                                           class="form-control user-password"
                                                                                           name="password"
                                                                                           value=""/>
                                                                                </fieldset>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                Role
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <fieldset disabled>
                                                                                    <select name="roleList" size="2"
                                                                                            class="form-control user-roles user-roles-delete">
                                                                                    </select>
                                                                                </fieldset>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button id="deleteFormInput" type="button"
                                                                        class="btn btn-primary" data-dismiss="modal">
                                                                    Delete
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade update-modal" id="editModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form name="update" id="updateForm" action="">
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-1"></div>
                                                                    <div class="col-6 container-fluid ">

                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                ID
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <fieldset disabled>
                                                                                    <input type="number"
                                                                                           name="id"
                                                                                           id="disabledTextInput"
                                                                                           class="form-control user-id"
                                                                                           value=""/>
                                                                                </fieldset>
                                                                                <input type="hidden" name="id"
                                                                                       class="user-id"
                                                                                       value=""/>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                First name
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <input type="text"
                                                                                       class="form-control user-name"
                                                                                       name="name"
                                                                                       value=""/>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                Last name
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <input type="text"
                                                                                       class="form-control user-last-name"
                                                                                       name="lastName"
                                                                                       value=""/>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                Age
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <input type="number"
                                                                                       class="form-control user-age"
                                                                                       name="age"
                                                                                       value=""/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                Email
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <input type="email"
                                                                                       class="form-control user-email"
                                                                                       name="email"
                                                                                       value=""/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                Password
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <input type="password"
                                                                                       class="form-control user-password"
                                                                                       name="password"
                                                                                       value=""/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col  container text-center">
                                                                                Role
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col form-group">
                                                                                <select name="roleList" size="2"
                                                                                        class="form-control user-roles user-roles-edit">
                                                                                </select>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button id="updateFormInput" type="button"
                                                                        class="btn btn-primary" data-dismiss="modal">
                                                                    Edit
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="container-fluid border pl-0 pr-0 bg-white">

                                        <h3 class="alert bg-light border-bottom container-fluid pl-3 mb-0">
                                            Add new user
                                        </h3>
                                        <div class="mt-4 pl-4 pr-4">

                                            <div class="row" style="background-position:center">
                                                <div class="col-4">
                                                </div>
                                                <div class="col-4">
                                                    <form method="post" action="/admin/user" role="form">
                                                        <div class="row">
                                                            <div class="col  container text-center">
                                                                First name
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col form-group">
                                                                <input type="text" class="form-control" name="name"
                                                                       placeholder="First name"/>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col  container text-center">
                                                                Last name
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col form-group">
                                                                <input type="text" class="form-control" name="lastName"
                                                                       placeholder="Last name"/>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col  container text-center">
                                                                Age
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col form-group">
                                                                <input type="number" class="form-control" name="age"
                                                                       value=""/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col  container text-center">
                                                                Email
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col form-group">
                                                                <input type="email" class="form-control" name="email"
                                                                       placeholder="Email"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col  container text-center">
                                                                Password
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col form-group">
                                                                <input type="password" class="form-control"
                                                                       name="password" placeholder="Password"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col form-group">
                                                                <select name="roleList" size="2" class="form-control user-roles-new">
<!--                                                                    <ui th:each="role:${visitor.roleSet}">-->
<!--                                                                        <option th:text="${role.role.toUpperCase()}"></option>-->
<!--                                                                    </ui>-->
                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-3"></div>
                                                            <div class="col -6 form-group">
                                                                <input type="submit" class="btn btn-block btn-success"
                                                                       name="submit"
                                                                       value="Add new user"/>
                                                            </div>
                                                            <div class="col-3"></div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="createTable.js"></script>
<script src="edit.js"></script>
<script src="finAllRoles.js"></script>
<script src="update.js"></script>
</body>
</html>
